.Chat {
    padding-bottom: 150px;
    height: 100vh;
    width: 100% !important;
    background-color: #f0efe9;
}

.Chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.2rem solid #212429;
}

.Chat__channelName {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    align-items: flex-start;
}

.Chat__messages {
    height: 90%;
    overflow: auto;
    color: #212429;
}

.User__in__room  {
    color: #6a6a6a;
    font-size: 1rem;
    font-weight: 577;
    text-transform: capitalize;
}
 
