@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* light blue #3972ab */
/* base blue #2a547f */
/* dark blue #122335 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    font-size:  16px;
    line-height: 1.7; 
    color: #777; 
   
}

.header {
    height: 95vh;
    background-image:linear-gradient(
        to right bottom,
         #3972abc7,
         #122335c2) , 
         url(./img/hero.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* this is the base of absolute position */
    position: relative;
}


.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 47px;
}

.text-box {
    position:absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%, -50%);
}



.heading-primary {
    color: #FFF;
    text-transform: uppercase;
    
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 76px;
} 

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 12.1px;
    
}