.Doc{
    background-color: beige;
    overflow: auto;
    height: 93vh;
    width: 100%;
    border: 1px solid black;
}


.Bold{
    font-weight: bold;
}

.Italic{
    font-style: italic;
}

.Code{
    font-style: oblique;
}

.Strikethrough{
    text-decoration: line-through;
}

.Underline{
    text-decoration: underline;
}