

.displaydiv {
    height: 70%;
    width: 20%;
    margin: 20px;
   
}

.displaycontainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    background: #FFFFFF;
    border-radius: 8px;
    height: 60%;
    width: 100%;
  }


   p {
    padding: 5px, 10px;
  }
  