.containerHeight {
  height: 100vh;
  flex-wrap: 'no-wrap';
  overflow: auto;
}
.containerBackground{
  background: #F0EFE9;
}

.gridFeatureMain{
  overflow: auto;
  max-height: 100%;
  overflow-x: hidden;
}