.u-center-text {
    text-align: center;
}

.u-margin-bottom-huge {
    margin-bottom: 10rem;
}
.u-margin-bottom-big {
    margin-bottom: 8.7rem;
}
.u-margin-bottom-medium {
    margin-bottom: 3.7rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.7rem;
}

