.section-about {
    background-color:$color-grey-light-1 ;
    padding:23rem 0 27rem 0;
    margin-top: -20vh;
}


.section-features {
    margin-top: -17rem;
    height: 80rem;
    padding: 20rem 0; 
    background-image:linear-gradient(
        to right bottom,
         rgba($color-light, 0.8),
         rgba($color-dark, 0.8)), 
         url(../../img/hero2.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 17%, 100% 0%, 100% 85%, 0 100%);
    /* this is the base of absolute position */
   
}



.section-products {
    background-color:$color-grey-light-1 ;
    padding:25rem 0;
    margin-top: -20vh;
}